org: creativogee
app: project-hilda
service: ${self:app}-ws-api
frameworkVersion: '3'
custom:
  APP_NAME: ${self:app}-${sls:stage}
  SERVICE_NAME: ${self:service}-${sls:stage}

provider:
  name: aws
  runtime: nodejs18.x
  websocketsApiName: ${self:service}
  websocketsApiRouteSelectionExpression: $request.body.action
  websocketsDescription: Project Hilda Websocket API for Realtime Communication

  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
          Resource: arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.APP_NAME}-organizations
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
          Resource: arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.APP_NAME}-sessions
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:UpdateItem
            - dynamodb:DeleteItem
            - dynamodb:Scan
          Resource: arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.APP_NAME}-billings
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
            - lambda:InvokeAsync
          Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:${self:custom.SERVICE_NAME}-auth
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
            - lambda:InvokeAsync
          Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:${self:custom.SERVICE_NAME}-prompt
        - Effect: Allow
          Action:
            - lambda:InvokeFunction
            - lambda:InvokeAsync
          Resource: arn:aws:lambda:${aws:region}:${aws:accountId}:function:${self:custom.SERVICE_NAME}-disconnect
        - Effect: Allow
          Action:
            - sagemaker:InvokeEndpoint
          Resource: arn:aws:sagemaker:${aws:region}:${aws:accountId}:endpoint/project-hilda-model-endpoint

  environment:
    APP_NAME: ${self:custom.APP_NAME}
    SERVICE_NAME: ${self:custom.SERVICE_NAME}
    MODEL_ENDPOINT_NAME: ${self:app}-model-endpoint

functions:
  connect:
    handler: handlers/connect.handler
    events:
      - websocket:
          route: $connect

  disconnect:
    handler: handlers/disconnect.handler
    events:
      - websocket:
          route: $disconnect

  default:
    handler: handlers/default.handler
    events:
      - websocket: $default

  prompt:
    handler: handlers/prompt.handler
    timeout: 15
    events:
      - websocket:
          route: prompt

  auth:
    handler: handlers/auth.handler
    events:
      - websocket:
          route: auth

resources:
  Resources:
    organizations:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.APP_NAME}-organizations
        AttributeDefinitions:
          - AttributeName: id # UUID
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    sessions:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.APP_NAME}-sessions
        AttributeDefinitions:
          - AttributeName: id # Connection ID
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

    billings:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.APP_NAME}-billings
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: orgId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
          - AttributeName: orgId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    feedbacks:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.APP_NAME}-feedbacks
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: orgId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
          - AttributeName: orgId
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
